WindesHeim Game/WindesHeim Game/bin/Debug
WindesHeim Game/WindesHeim Game/bin/Release
WindesHeim Game/WindesHeim Game/obj/
WindesHeim Game/WindesHeim Game/Debug/
WindesHeim Game/WindesHeim Game/Release/
WindesHeim Game/.vs/

#INSTRUCTIES
#Je hoeft niks te doen
# git rm . -r --cached
# git add .
# git commit -m "fixed untracked files"
